@font-face {
    font-family: 'HelveticaNeueBolder';
    src: url('../font/HelveticaNeueCyr-Medium.otf'),
    url('../font/HelveticaNeueCyr-Medium.woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Asessor';
    src: url('../font/Asessor.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helavetica.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticacaNeueLighter';
    src: url('../font/HelveticaNeueCyr-Light.otf'),
    url('../font/HelveticaNeueCyr-Light.woff'),
    url('../font/HelveticaNeueLight.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../font/PT_Serif-Web-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../font/HelveticaNeueCyr-Bold.otf'),
    url('../font/HelveticaNeueCyr-Bold.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'PT Serif Regular';
    src: url('../font/PT_Serif-Caption-Web-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'icoMoon';
    src: url('../font/icomoon.ttf');
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #eeeeed;
}

a {
    text-decoration: none;
    color: black;
}

main {
    overflow: hidden;
}

.header {
    margin-bottom: 30px;
}

.header-information {
    margin-bottom: 30px;
}

.logotip {
    font-family: 'Asessor', sans-serif;
    font-weight: normal;
    font-size: 52px;
    margin: 0;
    padding: 0;
    color: #13335a;
}

.header-text {
    color: #787b81;
    font-size: 13px;
    font-family: 'HelveticaNeueLight', sans-serif;
    font-weight: 400;
}

.header-adress {
    color: #787b81;
    font-size: 24px;
    font-family: 'HelveticaNeueBolder', sans-serif;
    font-weight: 600;
}

.header-adress:hover {
    text-decoration: none;
    color: #d15741;
}

.button {
    width: 225px;
    text-transform: uppercase;
    color: white;
    background-color: #d15741;
    border: 1px solid #d15741;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    box-sizing: border-box;
}

.button:hover {
    background-color: transparent;
    color: #d15741;
    border: 1px solid #d15741;
    text-decoration: none;
    box-sizing: border-box;
}

.header-button {
    margin-top: 18px;
    margin-left: 64px;
}

.header-band {
    width: 100%;
    height: 1px;
    background-color: #959595;
    display: block;
    position: absolute;
    top: 81px;
    left: 0;
}

.header-novigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.header-menu {
    color: #13335a;
    font-family: 'HelveticaNeueBold', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    align-self: baseline;
    margin-right: 10px;
}

.header-menu:hover {
    text-decoration: none;
    color: #d15741;
}

.section-link {
    display: block;
}

.section-link:hover {
    text-decoration: none;
}

.section-header {
    min-height: 520px;
}

.section-header .owl-dots {
    position: absolute;
    top: 710px;
    left: 886px;
}

.section-header button.owl-dot{
    display: inline-block;
    width: 10px;
    height: 14px;
    border: 1px solid #d25f4a;
    background: #eeeeed;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.section-header button.active.owl-dot:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #d25f4a;
    top: 3px;
    left: 3px;
}

.fon-section {
    background: url('../img/fon-sector-1.jpg');
    position: absolute;
    left: 0;
    width: 100%;
    height: 520px;
}

.about {
    position: relative;
    height: 540px;
    margin-top: 60px;
}

.about:before {
    background-image: url('../img/about.jpg');
    content: '';
    position: absolute;
    height: 410px;
    width: 460px;
    left: 364px;
    top: 80px;
    background-position: -120px -9px;
}

.caption-header {
    font-family: 'PT Serif', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 51px;
    letter-spacing: 3px;
    margin-bottom: 34px;
    color: #ffffff;
    margin-top: 180px;
}

.section-caption {
    position: relative;
    z-index: 1;
    font-family: 'PT Serif', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    line-height: 24px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-caption:before,
.section-caption:after {
    content: "";
    flex-shrink: 0;
    width: 64px;
    height: 2px;
    background: #d15741;
}

.section-caption:before {
    margin-right: 18px;
}

.section-caption:after {
    margin-left: 18px;
}

.about-text {
    position: relative;
    top: 42px;
    left: 53px;
    width: 656px;
    padding-left: 11px;
    padding-top: 1px;
}

.about-text:before {
    content: '';
    width: 1200px;
    height: 412px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    z-index: -1;
    top: -36px;
    left: -30px;
    box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
}

.text-1 {
    width: 100%;
    line-height: 24px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'HelveticaNeue', sans-serif;
}

.preoritet {
    position: relative;
    min-height: 540px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.preoritet:before {
    background-image: url('../img/about-2.jpg');
    content: '';
    position: absolute;
    height: 410px;
    width: 460px;
    top: 172px;
    right: 367px;
    background-position: -112px 0px;
}

.section-text {
    font-size: 24px;
    font-weight: normal;
    font-family: 'HelveticaNeue', sans-serif;
    line-height: 33px;
    margin-bottom: 49px;
}

.preoritet-text {
    font-size: 16px;
    line-height: 24px;
}

.preoritet-text-1 {
    width: 100%;
    margin-left: 67px;
    margin-bottom: 25px;
    padding-right: 59px;
}

.fon-preoritet:after {
    box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
    content: '';
    width: 1200px;
    height: 412px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    z-index: -1;
    top: -36px;
    left: -530px;
}

.preoritet-text:before {
    content: '01';
    font-family: 'HelveticaNeueBolder', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #d15741;
    position: absolute;
    top: 39px;
    left: 12px;
}

.preoritet-text:after {
    content: '02';
    font-family: 'HelveticaNeueBolder', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #d15741;
    position: absolute;
    top: 217px;
    left: 14px;
}

.advantages {
    margin-bottom: 60px;
}

.advantages-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.advantages-item {
    display: block;
    font-size: 18px;
    width: 166px;
    text-align: center;
    position: relative;
    padding-top: 90px;
}

.img-advantages {
    display: block;
    background: url('../img/sprite-2.png') no-repeat;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0 ;
    left: 39px;
}

.quality {
    background-position: -410px 0;
}

.delivery {
    background-position: -212px 0 ;
}

.garantee {
    background-position: 0 0;
}

.individual {
    background-position: -101px 0 ;
}

.price {
    background-position: -505px 0;
}

.economy {
    font-size: 16px;
    margin-bottom: 150px;
}

.fon-economy {
    background: url('../img/catalog.jpg');
    position: absolute;
    left: 0;
    width: 100%;
    height: 561px;
    margin-top: 79px;
    background-position: 7px -384px;
}

.economy-list {
    list-style: none;
    width: 646px;
    min-height: 463px;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 55px;
    left: 265px;
    overflow: hidden;
    padding-top: 34px;
    padding-left: 70px;
}

.economy-item {
    width: 540px;
    line-height: 23px;
    margin-bottom: 19px;
    position: relative;
}

.icon-checkmark{
    display: block;
    background: url('../img/check-1.png') 100% no-repeat;
    width: 30px;
    height: 22px;
    background-position: 0 0;
    position: absolute;
    left: -43px;
    top: 22px;
}

.economy-button {
    margin-top: 29px;
    margin-left: 141px;
}

.allotment {
    font-weight: bold;
    color: #d15741;
}

.box {
    display: block;
    width: 95px;
    height: 95px;
    border: 2px solid #d15741;
    border-radius: 95px;
    position: relative;
    top: 0;
    left: 85px;
    margin-bottom: 8px;
    position: relative;
}

.conditions {
    margin-bottom: 10px;
}

.conditions-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: relative;
    margin-top: 50px;
}

.conditions-item {
    font-size: 24px;
    width: 263px;
    text-align: center;
    display: block;
}

.icon {
    color: #ef563e;
    background: url(../img/sprite.png) no-repeat 100% 100%;
    position: absolute;
    top: 20px;
    left: 16px;
    display: block;
    width: 66px;
    height: 60px;
}

.icon-sofa-1{
    background-position: -65px 0;
}

.icon-cart-1 {
    background-position: -197px 0;
}
.icon-bascket-1 {

    background-position: 0 0;
}

.box.box-1 {
    font-size: 51px;
    font-weight: bold;
    color: #d15741;
    padding: 9px 17px;
    position: relative;
}

.box-1:before {
    content: '';
    background-color: #d15741;
    width: 18px;
    height: 2px;
    position: absolute;
    top: 24px;
    right: 9px;
    transform: rotate(90deg);
}

.box-1:after {
    content: '';
    background-color: #d15741;
    width: 18px;
    height: 2px;
    position: absolute;
    top: 24px;
    right: 9px;
}

.next {
    color: #d15741;
    font-size: 51px;
    position: relative;
    top: 22px;
}

.slider {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.box-text-slider{
    display: block;
}

.box-text-slider {
    background-color: #1c3a5f;
    width: 340px;
    height: 100px;
    position: absolute;
    bottom: 1px;
    z-index: 1;
}


.owl-item.active:nth-child(2) .item .box-text-slider {
    display: none;
}

.item {
    width: 340px;
    height: 340px;
}

 .active .item {
    width: 340px;
    height: 340px;
}

.owl-item.active:nth-child(2){
    width: 360px !important;
    height: 360px !important;
} 
.slider-items-text {
    font-family: 'HelveticaNeueBolder', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 13px;
    right: 0;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.slider-items-number {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 39px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    border: #ef563e;
    border: 1px solid #ef563e;
    position: relative;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #eeeeed;
}
.owl-theme .owl-dots .owl-dot.active span:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #ef563e;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}
.owl-theme .owl-dots .owl-dot span {
    background: #eeeeed;
    border: 1px solid #ef563e;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #ea9a8b;
    border-radius: 50%;
    background: #f2f2f0;
    position: absolute;
    top: 150px;
}

.owl-carousel .owl-nav button.owl-next {
    right: 18px;
}

.owl-carousel .owl-nav button.owl-next span{
    content: '&lt';
    font-size: 46px;
    color: #ef563e;
    font-weight: bold;
    position: absolute;
    top: -20px;
    left: 14px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -5px;
}
.owl-carousel .owl-nav button.owl-prev span{
    content: '&gt';
    font-size: 46px;
    color: #ef563e;
    font-weight: bold;
    position: absolute;
    top: -20px;
    left: 14px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #f2f2f0;
    color: #FFF;
    text-decoration: none;
}

.footer {
    background-color: #13335a;
    padding-top: 34px;
    padding-bottom: 66px;
}

.nav-link {
    color: #ffffff;
    font-family: 'HelveticaNeueBold', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}

.nav-link:hover {
    color: #d15741;
}

.footer-navigation {
    margin-left: -15px;
    margin-right: 22px;
}

.footer-menu {
    list-style-position: inside;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    list-style-type: decimal;
}

.footer-adress {
    color: #ffffff;
    font-family: 'HelveticaNeueBold', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.adress-footer {
    margin-left: -10px;
    margin-top: -6px;
}

.footer-adress:hover {
    text-decoration: none;
    color: #d15741;
}

.footer-button {
    margin-left: -5px;
}

.copiright {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
    color: #ffffff;
    margin-left: 92px;
    padding-top: 20px;
    display: block;
}

.modal {
    width: 360px;
    height: 370px;
    margin: 0 auto;
    position: fixed;
    display: block;
    top: 205px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 38px 14px;
    z-index: 2;
    background-color: #f6f4f4;
    display: none;
}

.modal:target {
    display: block;
}

.close {
    display: block;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: #000000;
}

.modal-caption {
    font-family: 'HelveticaNeueBold';
    font-weight: bold;
    font-size: 30px;
    color: #13335a;
    margin-bottom: -12px;
}

.caption-decor {
    width: 166px;
    height: 1px;
    background-color: #d15943;
    display: block;
}

.input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    height: 48px;
    border: 1px solid #666970;
    padding: 16px 19px;
    font-size: 18px;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: bold;
    color: #000000;
    outline: none;
}

.input:target {
    padding: 16px 19px;
}

.input:hover {
    padding: 16px 19px;
}

.input-tel {
    height: 51px;
}

.button-modal {
    margin-left: 34px;
    width: 263px;
    text-transform: capitalize;
    font-size: 19px;
    padding-top: 9px;
}

.modal-form {
    margin-bottom: 1px;
    margin-top: 39px;
}

@media (min-width: 0px) and (max-width: 480px) {
    .header-menu {
        font-size: 24px;
    }
    .header-band {
        top: 240px;
    }
    .fon-section {
        background-position: -530px 0px;
    }
    .about:before {
        display: none;
    }
    .text-1 {
        width: 383px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .about-text:before {
        height: 760px;
    }
    .text-1 {
        margin-left: 0;
        padding-left: 0;
        width: 250px;
    }

    .about {
        margin-bottom: 350px;
    }
    .fon-preoritet:after {
        min-height: 600px;
    }

    .preoritet:before {
        display: none;
    }

    .preoritet-text-1 {
        width: 370px;
    }

    .fon-preoritet:after {
        height: 536px;
    }


    .economy {
        position: relative;
    }

    .fon-economy {
        top: 55px;
        background-position: -265px -76px;
    }

    .economy-item {
        width: 98%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .economy-list {
        left: 0;
    }

    .conditions-item {
        font-size: 18px;
    }

    .conditions-list {
        display: block;
    }

    .next {
        top: -13px;
        left: 130px;
        transform: rotate(90deg);
    }
    .economy-button {
        margin-left: 100px;
    }
    .footer-button {
        margin-right: 0;
    }
    .footer {
        text-align: center;
        font-size: 30px;
    }
    .footer-button {
        margin-left: 100px;
    }
    .footer-navigation {
        font-size: 30px;
    }
    .preoritet-text:before {
        display: none;
    }
    .preoritet-text:after {
        display: none;
    }
    .preoritet-text-1 {
        margin-left: 0;
    }
    .economy-list {
        list-style: none;
        width: 646px;
        min-height: 463px;
        display: block;
        position: relative;
        top: 55px;
        left: 0;
        overflow: hidden;
        padding-top: 0;
        padding-left: 0;
    }
    .next {
        left: 130px;
    }
    .owl-theme .owl-dots .owl-dot.active span:before {
        top: 2px;
    }
    .item {
        width: 100px;
        height: 100px;
    }
    .active .item {
        width: 100px !important;
        height: 100px !important;
    }
    .center .item {
        width: 100px !important;
        height: 100px !important;
    }
    
    .box-text-slider {
        background-color: #1c3a5f;
        width: 100px;
        height: 93px;
        position: absolute;
        bottom: 0px;
        z-index: 1;
    }
    .slider-items-text {
        font-size: 12px;
    }
}




@media (min-width: 481px) and (max-width: 767px) {
    .header-menu {
        font-size: 24px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .header-band {
        top: 245px;
    }
    .fon-section {
        background: url(../img/fon-sector-1.jpg);
        position: absolute;
        left: 0;
        width: 100%;
        background-position: -530px 0px;
        height: 400px;
    }
    .about:before {
        display: none;
    }
    .text-1 {
        width: 383px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .about-text:before {
        height: 540px;
    }

    .about {
        margin-bottom: 40px;
    }

    .preoritet:before {
        display: none;
    }

    .preoritet-text-1 {
        width: 370px;
    }

    .fon-preoritet:after {
        height: 580px;
    }

    .economy {
        position: relative;
    }

    .fon-economy {
        top: 50px;
        background-position: -265px -76px;
    }

    .economy-item {
        width: 98%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .economy-list {
        left: 0;
    }

    .conditions-item {
        font-size: 18px;
    }

    .conditions-list {
        display: block;
    }

    .next {
        top: -13px;
        left: 125px;
        transform: rotate(90deg);
    }
    .economy-button {
        margin-left: 100px;
    }
    .footer-button {
        margin-right: 0;
    }
    .footer {
        text-align: center;
        font-size: 30px;
    }
    .footer-button {
        margin-left: 132px;
    }
    .footer-navigation {
        font-size: 30px;
    }
    .item {
        width: 150px;
        height: 150px;
    }
    .active .item {
    width: 150px !important;
    height: 150px !important;
    }
    .center .item {
        width: 150px !important;
        height: 150px !important;
    }

    .box-text-slider {
        background-color: #1c3a5f;
        width: 150px;
        height: 93px;
        position: absolute;
        bottom: 0px;
        z-index: 1;
    }
    .slider-items-text {
        font-size: 12px;
    }
}


/*sm*/

@media (min-width: 768px) and (max-width: 991px) {

    .logotip {
        font-size: 35px;
    }

    .header-button {
        margin-left: 0;
    }

    .about:before {
        background-image: url('../img/about.jpg');
        display: block;
        top: 498px;
        left: 200px;
    }
    .about {
        margin-bottom: 405px;
    }

    .text-1 {
        margin-left: 0;
        width: 100%;
    }

    .fon-section {
        background: url(../img/fon-sector-1.jpg);
        position: absolute;
        left: 0;
        width: 100%;
        background-position: -530px 0px;
        height: 400px;
    }
    .section-header {
        height: 400px;
    }

    .preoritet:before {
        background-image: none;
        width: 0;
        height: 0;
    }
    .preoritet-text-1 {
        width: 556px;
    }

    .economy-list {
        top: 49px;
        left: 38px;
    }

    .conditions-item {
        font-size: 16px;
    }

    .footer-navigation {
        margin-bottom: 15px;
    }

    .adress-footer {
        margin-left: 255px;
    }

    .footer-button {
        margin-left: 255px;
    }
    .item {
        width: 200px;
        height: 200px;
    }
    .active .item {
        width: 200px !important;
        height: 200px !important;
    }
    
    .center .item {
        width: 200px !important;
        height: 200px !important;
    }
    .owl-theme .owl-dots .owl-dot.active span:before {
        top: 25%;
    }  
    
    .box-text-slider {
        background-color: #1c3a5f;
        width: 200px;
        height: 93px;
        position: absolute;
        bottom: 0px;
        z-index: 1;
    }

    .slider-items-text {
        font-size: 14px;
    }
}



/*md*/

@media (min-width: 992px) and (max-width: 1199px) {

    .text-1 {
        padding-right: 20px;
    }

    .about:before {
        background: url('../img/about.jpg') no-repeat;
        background-size: 85% 85%;
        top: 100px;
        left: 33px;
    }

    .about-text:before {
        height: 483px;
    }

    .preoritet:before {
        height: 272px;
        width: 287px;
        top: 232px;
        right: 17px;
    }

    .owl-item .active {
        width: 240px;
        height: 240px;
    }
}

/*lg*/

@media (min-width: 1200px) and (max-width: 1600px) {

}